<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEi55XzpodaZatI3zgAOA0NIq_Sm-b1xw</string>
	<key>GCM_SENDER_ID</key>
	<string>553255616629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cdsClass</string>
	<key>PROJECT_ID</key>
	<string>senior-project-d76fc</string>
	<key>STORAGE_BUCKET</key>
	<string>senior-project-d76fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553255616629:ios:6cc0a73c81e95d570df83c</string>
</dict>
</plist>